

<p-sidebar [visible]="display" (visibleChange)="onVisibleChange($event)" position="left" styleClass="p-sidebar-sm">
    <mat-accordion>
        <div *ngFor="let panel of panels">
          <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{panel.title}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- <div *ngFor="let item of panel.items"> -->
              <!-- <button mat-raised-button>
                <a href={{item.url}}>
                  {{item.title}}
                </a>
              </button> -->
              
            <!-- </div> -->
            <mat-selection-list [multiple]="false">
              <mat-list-option *ngFor="let item of panel.items" [value]="item">
                <a href={{item.url}}>
                  {{item.title}}
                </a>
              </mat-list-option>
            </mat-selection-list>
          </mat-expansion-panel>
        </div>
    </mat-accordion>
</p-sidebar>